@charset "UTF-8";

*{
    margin: 0px;
}

#cards{
    height: 440px;
}

#b1{
    height: 152px;
}

#b11{
    width: 135px;
    position: relative;
    left: 17%;
    top: 25%;
}

h2{
    font-size: 1em;
}

#b12{
    width: 335px;
    position: relative;
    left: 17%;
    top: 29%;
}

#b13{
    width: 400px;
    text-align: justify;
    position: relative;
    left: 58%;
    bottom: 8%;
}

#b2{
    background-color: brown;
    height: 400px;
}

body::-webkit-scrollbar{
    width: 0! important; /*Chrome, Safari, versões mais recentes do Opera*/
}

body{
    overflow: -moz-scrollbars-none; /*Firefox*/
    -ms-overflow-style: none; /*Internet Explorer +10*/
}